# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg
.venv/
venv/
env/
.env

node_modules/
build/
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-error.log*

/tmp/finvise_videos/
*.mp4

.vscode/
.idea/
*.DS_Store

*.log
